html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.content {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

.header {
    flex: 0 0 auto;
    padding: 10px 0px 10px 50px;
    font-size: xx-large;
    text-align: left;
    background: #305A72;
    border-bottom: 2px solid black;
    overflow: hidden;
}

.mainContent {
    flex: 1 1 auto;
    display: flex;
    background-color: black;
    overflow: hidden;
}

.menu {
    flex: 0 0 25%;
    background-color: rgb(202, 200, 200);
    border-right: 2px solid black;
    font-size: x-large;
    overflow: hidden;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 25px;
    width: 130px;
}

.menu button {
    margin-top: 60px;
    background: #305A72;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0%;
    font-size: 60px;
    line-height: 0px;
    width: 60px;
    height: 60px;
}

.menu ul > *:hover {
    cursor: pointer;
}

.menu ul > *:active {
    transform: scale(.8);
}

.todoContent {
    width: 75%;
    height: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    overflow: scroll;
}

/*Styles the header text and its background on the forms*/
.formHeader 
{
    padding-left: 10px;
    background: #305A72;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.formHeader button {
    padding-right: 10px;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bolder;
}

.formHeader button:hover {
    cursor: pointer;
}

.formHeader button:active {
    transform: scale(.8);
}

/*Helps position the form on the screen*/
.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

/*Makes the form invisible and places it in the center of the screen*/
.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 5%);
    z-index: 9;
}

/*Spaces the left side form buttons*/
.formTypes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-right: 2px solid #305A72;
}

/*Organizes the form content*/
.formContent {
    display: flex;
    flex-flow: row;
}

/*Styles the display shown when a user clicks the Details button on an item*/
.displayContent {
    background-color: white;
    display: flex;
    flex-flow: column;
    min-width: 400px;
    min-height: 275px;
    max-height: 300px;
    text-align: left;
	padding: 10px;
    gap: 10px;
	margin:0;
  	overflow: scroll;
}

.displayForm {
    display: flex;
    flex-flow: column;
	max-width: 600px;
	background: #FAFAFA;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72; 
}

.toDo-Form {
    display: flex;
    flex-flow: column;
	max-width: 600px;
	background: #FAFAFA;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.projectForm {
    display: none;
    flex-flow: column;
	max-width: 600px;
	background: #FAFAFA;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.noteForm {
    display: none;
    flex-flow: column;
	max-width: 600px;
	background: #FAFAFA;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.toDo-Form ul, .projectForm ul, .noteForm ul {
    min-width: 400px;
    min-height: 275px;
	padding: 10px;
	margin:0;
	list-style:none;
}

.toDo-Form ul li, .projectForm ul li, .noteForm ul li {
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.toDo-Form ul li  .field-style, 
.projectForm ul li .field-style,  
.noteForm ul li .field-style {
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    min-height: 37px;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;

}

.toDo-Form ul li  .field-style:focus, 
.projectForm ul li  .field-style:focus, 
.noteForm ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}

.toDo-Form ul li .field-split {
	width: 49%;
}

.projectForm ul li .field-split,
.noteForm ul li .field-split {
    width: 100%;
}

.toDo-Form ul li input.align-left, 
.projectForm ul li input.align-left, 
.noteForm ul li input.align-left {
	float:left;
}

.toDo-Form ul li input.align-right, 
.projectForm ul li input.align-right, 
.noteForm ul li input.align-right{
	float:right;
}

.toDo-Form ul li select.align-left, 
.projectForm ul li select.align-left, 
.noteForm ul li select.align-left {
	float:left;
}

.toDo-Form ul li select.align-right, 
.projectForm ul li select.align-right, 
.noteForm ul li select.align-right{
	float:right;
}

.toDo-Form ul li textarea, 
.projectForm ul li textarea,
.noteForm ul li textarea {
	width: 100%;
	height: 100px;
}

.toDo-Form ul li input[type="button"], 
.toDo-Form ul li input[type="submit"], 
.projectForm ul li input[type="button"], 
.projectForm ul li input[type="submit"], 
.noteForm ul li input[type="button"], 
.noteForm ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}

.toDo-Form ul li input[type="button"]:hover, 
.toDo-Form ul li input[type="submit"]:hover, 
.projectForm ul li input[type="button"]:hover, 
.projectForm ul li input[type="submit"]:hover, 
.noteForm ul li input[type="button"]:hover, 
.noteForm ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

#priorities {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.itemType:hover {
    cursor: pointer;
}

.itemType:active {
    transform: scale(.9);
}

.active {
    border-bottom: 2px solid #305A72;
}

.checkActive {
    opacity: 50%;
}

.projectSubMenu
{
    display: none;
    list-style: none;
}

.projectOption {
    display: none;
    cursor: pointer;
    font-size: medium;
}

.toDoDiv {
    background-color: rgb(202, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
}

.toDoDiv button {
    border: none;
    background-color: rgb(202, 200, 200);
    font-weight: bold;
    font-size: x-large;
}

.toDoDiv button:hover {
    cursor: pointer;
}

.toDoDiv button:active {
    transform: scale(.9);
}

.toDoDiv .leftBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.toDoDiv .rightBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}